body,
p {
  margin: 0;
}
.header-wrapper {
  height: 88px;
  border-bottom: solid 1px;
  background: #2F6D73;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}
.logo {
  height: 40px;
}

.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
  gap:20px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  margin: 0;
  gap:20px;
}

.nav-items > ul > li a {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  text-wrap: nowrap;
  color:#ffffff;
}
.cart {
  height: 40px;
}

.login-btn{
    height:fit-content;
    border: solid 1px #4CB095;
    padding: 10px 30px;
    border-radius: 13px;
    color: #4CB095;
    font-size: 20px;
    font-weight: 500;
    width:130px;
    cursor: pointer;
}

.logout{
    color: #ffffff;
    background: #4CB095;
}

.body-wrapper {
  margin: 40px;
}

.res-card-wrapper {
  flex-basis: 30%;
  /* height:200px; */
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 1px 1px 2px 3px rgb(111 160 179 / 40%);
}
.res-card-wrapper:hover {
  border: solid 1px #b1b1b1;
}
.res-logo {
  width: 100%;
  border-radius: 5px;
  height: 200px;
  object-fit: fill;
}
.res-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  margin: 0 0 6px 0;
}
.res-rating-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.res-rating,
.res-delivery-time {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  display: flex;
  align-items: center;
}

.res-delivery-time::before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: ".";
  background-color: black;
  margin-right: 4px;
}
.star {
  width: 20px;
  height: 20px;
}
.res-cuisine,
.res-location,
.res-cost, .cost-for-two, .location {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  word-wrap: break-word;
  margin: 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.card-wrapper a{
  flex-basis: 30%;
}
.res-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.search-filter-wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 40px;
}
.filter-btn, .search-btn {
  height: 50px;
  border: solid 1px #4CB095;
  padding: 0 20px;
  border-radius: 13px;
  color: #4CB095;
  font-size: 20px;
  font-weight: 500;
  background: #ffffff;
  cursor: pointer;
}

.selected {
  color: #ffffff;
  background: #4CB095;

}
.search {
  padding: 10px;
  border-radius: 16px;
  height: 50px;
  width: 30%;
  border: solid 1px #b1b1b1;
}

.shimmer-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  margin: 40px auto;
  justify-content: space-between;
}

.shimmer-card {
  /* width: 200px; */
  height: 500px;
  flex-basis: 30%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);

  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #807b7b;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.error-component{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
a{
  text-decoration: none;
}

.res-menu-outer-wrapper{
  display:flex;
  flex-direction: column;
  gap: 12px;
  margin:40px 150px;
  align-items: center;
}

.res-menu-outer-wrapper .res-logo{
  width:400px;
  height:200px;
}
.res-card-outer-wrapper{
  width: 300px;
  height:fit-content;
  border: solid 1px #b1b1b1;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 3px 5px 6px #b1b1b1;
  display: flex;
  flex-direction: column;
  gap:16px;
}
.rating-wrapper{
  display: flex;
  justify-content: space-between;
}

.res-offers{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* overflow-x: auto; */
  width:100%;
  padding: 20px;
}
.offers{
  padding: 12px;
  border-radius: 12px;
  box-shadow: 1px 2px 3px 4px #b1b1b1;
  flex-basis: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap:12px;
}
.offers-wrapper{
  display: flex;
  gap:24px;
  padding: 20px 10px;
  overflow-x: auto;
  cursor: pointer;
}
.offer-detail, .offer-criteria, .deals-title{
  -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.offer-coupon {
  webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.45);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
